@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>We Appreciate You</h3>

<p>Here at <b>Auto Biller</b> we take pride in providing the best billing system in the market. Long gone are the days of paper trails. Feel free to use our Contact link for any questions.</p>
