@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Auto Biller</h1>
    <p class="lead">Auto Biller FILL THIS IN ONCE DONE WITH CODE REMINDER!!.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            FILL THIS IN ONCE DONE WITH CODE REMINDER!!
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>FILL THIS IN ONCE DONE WITH CODE REMINDER!!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>FILL THIS IN ONCE DONE WITH CODE REMINDER!!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>