@{
    ViewBag.Title = "Home Page";
}

<div align="center">
    <h1>Welcome To Auto Biller</h1>
    <p class="lead">Choose one of the following. Dont forget to smile!</p>
    <br />
    <br />
    <br />
    <br />
    <br />
    <p><a href="https://localhost:44363/Customer/Create" class="btn btn-primary btn-lg">Add Customer &raquo;</a> &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; <a href="https://localhost:44363/Vehicle/Create" class="btn btn-primary btn-lg">Add Vehicle &raquo;</a>  <hr /><br /> <a href="https://localhost:44363/ServiceEstimate/Create" class="btn btn-primary btn-lg">Add Estimate &raquo;</a> &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; <a href="https://localhost:44363/RepairShop/Create" class="btn btn-primary btn-lg">Create Ticket &raquo;</a></p>
</div>

<div class="row">
    @*<div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            FILL THIS IN ONCE DONE WITH CODE REMINDER!!
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>FILL THIS IN ONCE DONE WITH CODE REMINDER!!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>FILL THIS IN ONCE DONE WITH CODE REMINDER!!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>*@
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<hr />
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-responsive table-hover">
            <thead>
                <tr>
                    <th>Store Location</th>
                    <th>Manager Name</th>
                    <th>Email Address</th>
                    <th>Store Phone Number</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Michigan Rd</td>
                    <td>Mike Smith</td>
                    <td class="text-primary">msmith@AutoBiller.com</td>
                    <td>317-111-1111</td>
                </tr>
                <tr>
                    <td>146th St</td>
                    <td>Sarah Johnson</td>
                    <td class="text-primary">sjohnson@AutoBiller.com</td>
                    <td>317-222-2222</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>